body{
    background-color: #bebec0;
}
*{
    margin: 0;
}
.bg-white{
    background-color: white;
    margin: 40px;
    padding: 20PX;
}
.container{
    margin: 40px;
    color: white;
}
.one-div{
background-color:#2b83c5 ;
}
.two-div{
background-color:#2392d1 ;
 }
.three-div{
background-color:#1d9dd8 ;
}
.four-div{
background-color:#34a7de ;
}
.five-div{
background-color:#58b6e7 ;
}
.six-div{
background-color:#73c1ec ;
}
.seven-div{
background-color:#8fcbef ;
padding: 5px;
}
.eight-div{
background-color:#1ab585 ;
}
.nine-div{
background-color:#f4aecc ;
}
.ten-div{
background-color:#f49dc2 ;
}
.eleven-div{
background-color:#f38cb3 ;
}
.twelve-div{
background-color:#f279a5 ;
}
.thirteen-div{
background-color:#f16997 ;
}
.fourteen-div{
background-color:#f0568a;
}
.fiveteen-div{
background-color:#ee347e ;
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
    